//
// Variables
// --------------------------------------------------


@splBlue: 					rgb(0,85,135);
@splBlueLight: 					rgb(0,100,160);

@splGreen:    		  rgb(100,150,75);
@splGreenLight:    		  rgb(125,175,100);
@splGreenAccent:    		  rgb(150,200,100);

//
// Buttons
// --------------------------------------------------

@btn-inverse-color:              #fff;
@btn-inverse-bg:                 #474949;
@btn-inverse-border:             @btn-inverse-bg;

//
// Navbars
// --------------------------------------------------


// Common navbar
//
// Reset inverted navbar basics
@navbar-common-color:                      @gray-light;
@navbar-common-bg:                         @splGreenLight;
@navbar-common-border:                     @splGreenAccent;
//@navbar-common-border:                     darken(@navbar-common-bg, 10%);

// Inverted navbar links
@navbar-common-link-color:                 #fff;
@navbar-common-link-hover-color:           #ececec;
@navbar-common-link-hover-bg:              @splGreen;
@navbar-common-link-active-color:          @navbar-common-link-hover-color;
//@navbar-common-link-active-bg:             darken(@navbar-common-bg, 10%);
@navbar-common-link-active-bg:             darken(@navbar-common-bg, 10%);
@navbar-common-link-disabled-color:        #444;
@navbar-common-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-common-brand-color:                @navbar-common-link-color;
@navbar-common-brand-hover-color:          #fff;
@navbar-common-brand-hover-bg:             transparent;

// Inverted navbar search
// Normal navbar needs no special styles or vars
@navbar-common-search-bg:                  lighten(@navbar-common-bg, 25%);
@navbar-common-search-bg-focus:            #fff;
@navbar-common-search-border:              @navbar-common-bg;
@navbar-common-search-placeholder-color:   #ccc;

// Inverted navbar toggle
@navbar-common-toggle-hover-bg:            #333;
@navbar-common-toggle-icon-bar-bg:         #fff;
@navbar-common-toggle-border-color:        #333;
