/* ==========================================================================
   SHOELACE
   ========================================================================== */


/* Let the page breath */

.wrap {
  margin-bottom: 20px;
}

/* Tighten up headers */

.page-header { 
  margin:0 0 10px 0; 
  padding:0; 
  border-bottom:none; 

  h1 {
    margin:0; padding:0; 
    color: @brand-primary; 
    font-family: @font-family-serif; 

    //@media (max-width: @grid-float-breakpoint) {
    @media (max-width: @screen-tablet) {
      font-size: 26px;
    }
  }
}

/* Simplify sidebars */

.sidebar {
  h3 {
    color: #666;
    margin-top: 10px;
    border-bottom: 1px dotted #ccc;
  }

  div>ul {
    padding-left: 10px;

    li {
      list-style: none;
    }
  }
}

/* Masthead */

.navbar-inverse .navbar-toggle {
  background: #0065a1;
  margin-top: 8px;
}

#spl-masthead {
  /*background-color: #fff;*/
  background-color: #0065a1;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}
#spl-masthead input,
#spl-masthead button {
  opacity:.9;
}
#spl-masthead .container {
  position: relative; /* for profile, etc */
  background: transparent @masthead-path no-repeat 180px -45px;
}
#spl-logo {
  /*margin:0; padding:0;*/
  width: 170px; height: 85px;
  /*background: transparent url('../img/SPL-Logo-beta.png') no-repeat center center;*/
  background: transparent @logo-path-inverse no-repeat center center;
}

@media (min-width: 992px) {  
   .navbar-collapse {
      padding-left:0;
   }
}

@media (max-width: 992px) {   

  #spl-masthead .container {
    background-color: inherit;
    background-image: none;
  }

  #spl-logo-mobile .logotype {
    display:block;
    /*width: 240px;*/
    margin-left: 50px; 
    padding-top: 15px
  }
  #spl-logo-mobile {
    color: #fff;
    /*color: rgb(0,85,135);*/
    margin:0; padding:0;
    margin-left: 10px;
    width: auto; height: 50px; 
    background: transparent @logo-path-touch-inverse no-repeat left center;
    /*background: transparent url('../img/spl-touch.png') no-repeat left center; */
  }
}

#spl-primary-navbar {
  margin-bottom:10px;
}

/* Carousel Customizations */

.carousel {  
  border:0 solid rgb(0,85,135); 

  .carousel-indicators { 
    top: 0; 
    margin-top: 4px;
    /*
    margin: 0;
    width: auto !important;
    left: auto;
    right: 0;
    bottom:0;
    */ 
    
    li {
      /* border-color: #666; */
    }

    li.active {
      /* background-color: #ccc; */
    }
  }

  .carousel-control {
    margin-top: 6px;
    font-size: 30px;
    height: 40px;
  }
}



.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  position: relative;
  left: 0 !important;
  right: 0 !important;
  bottom: 0;
  color:#222; text-shadow: none;
  /*background: transparent;*/
  padding: 0 !important;
  /*padding-bottom: 20px !important;*/
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
}

.carousel-inner a { /*color:#ececec;*/ /*text-decoration: underline;*/ }

.carousel-inner small { /*color:#fff;*/ /*color:#666;*/ }

.carousel-inner img { 
  /*
  border: 1px solid rgb(0,85,135); 
  border-left-width: 5px;
  */
}


/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.panel-callout {
  /*width: 280px;*/
  /*margin: 20px 0;*/
  /*padding: 15px 30px 15px 15px;*/
  padding: 15px;
  border-left-width: 5px;
  /*border-left: 5px solid #eee;*/
}

.panel-callout h4 {
  margin-top: 0;
}
.panel-callout p:last-child {
  margin-bottom: 0;
}
.panel-callout code,
.panel-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.panel-callout-default {
  background-color: #f5f5f5;
  /*border-color: #ddd;*/
}
.panel-callout-inverse,
.panel-callout-inverse a,
.panel-callout-inverse a small {
  color: #fff;
}
.panel-callout-inverse ul.nav-pills a:hover {
  color: #005587;
}
.panel-callout-primary,
.panel-callout-primary hr {
  background-color: #0065a1;
  border-color: #005587;
}
.panel-callout-danger {
  background-color: #fcf2f2;
  /*border-color: #dFb5b4;*/
}
.panel-callout-warning {
  background-color: #fefbed;
  /*border-color: #f1e7bc;*/
}
.panel-callout-info {
  background-color: #f0f7fd;
  /*border-color: #d0e3f0;*/
}
.panel-callout-success {
  background-color: #dff0d8;
  /*border-color: #d6e9c6;*/
}

/* Panel customizations */

.panel-transparent {
   background: transparent !important;
}

.panel-condensed .panel-heading,
.panel-condensed .panel-body,
.panel-condensed .panel-footer {
   padding: 6px;
}


/* Utilities */

.one-liner {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.serif {
  font-family: @font-family-serif;
}

.normal {
  font-weight: normal;
}

.xl {
  font-weight: 1.6em;
}

.xxl {
  font-weight: 2em;
}

/* ==========================================================================
   CUSTOM BOOTSTRAP ELEMENTS (see custom.less for variable definitions)
   ========================================================================== */

// Inverse button
// --------------------------------------------------

.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}


// Common navbar
// --------------------------------------------------

.navbar-common {
  background-color: @navbar-common-bg;
  border-color: @navbar-common-border;

  border-bottom: 1px solid @navbar-common-border;
  margin:0; padding:0;
  min-height: 40px; height:40px;

  .navbar-brand {
    color: @navbar-common-brand-color;
    &:hover,
    &:focus {
      color: @navbar-common-brand-hover-color;
      background-color: @navbar-common-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-common-color;
  }

  .navbar-nav {

    margin: 0;
    display: table;
    width: 100%;

    > li {
      display: table-cell;
      width: auto;
      float: none;
    }

    > li:first-child > a {
      border-left: 0;
    }

    > li:last-child > a {
      border-right: 0;
    }

    > li > a {
        padding: 12px 0 8px 0;
        font-weight: bold;
        text-align: center;
        border-radius: 0;
        border-right: 1px solid rgba(0,0,0,.1);
        border-left: 1px solid rgba(red(@navbar-common-border)
                                  , green(@navbar-common-border)
                                  , blue(@navbar-common-border), .75);
        
      color: @navbar-common-link-color;

      &:hover,
      &:focus {
        color: @navbar-common-link-hover-color;
        background-color: @navbar-common-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-common-link-active-color;
        background-color: @navbar-common-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-common-link-disabled-color;
        background-color: @navbar-common-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: @navbar-common-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-common-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-common-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken(@navbar-common-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-common-link-active-bg;
        color: @navbar-common-link-active-color;
      }
    }
    > .dropdown > a:hover .caret {
      border-top-color: @navbar-common-link-hover-color;
      border-bottom-color: @navbar-common-link-hover-color;
    }
    > .dropdown > a .caret {
      border-top-color: @navbar-common-link-color;
      border-bottom-color: @navbar-common-link-color;
    }
    > .open > a {
      &,
      &:hover,
      &:focus {
        .caret {
          border-top-color: @navbar-common-link-active-color;
          border-bottom-color: @navbar-common-link-active-color;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      // Dropdowns get common display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @navbar-common-border;
        }
        > li > a {
          color: @navbar-common-link-color;
          &:hover,
          &:focus {
            color: @navbar-common-link-hover-color;
            background-color: @navbar-common-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-common-link-active-color;
            background-color: @navbar-common-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-common-link-disabled-color;
            background-color: @navbar-common-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: @navbar-common-link-color;
    &:hover {
      color: @navbar-common-link-hover-color;
    }
  }

}

