  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-cia ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-rich-hadley">
            <div class="chof-panel chof-panel-sized chof-yellow">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Rich_Hadley-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Rich Hadley</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-edu ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-tom-armitage">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Tom_Armitage-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Tom Armitage</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-edb ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-betsy-cowles">
            <div class="chof-panel chof-panel-sized chof-teal">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Betsy_Cowles-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Betsy Cowles</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-aal ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-david-dutton">
            <div class="chof-panel chof-panel-sized chof-gray">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/David_Dutton-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">David Dutton</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-aal ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-moritz-kundig">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Moritz_Kundig-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Moritz Kundig</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-ial ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-paul-redmond">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Paul_Redmond-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Paul Redmond</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-shm ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-george-schneider">
            <div class="chof-panel chof-panel-sized chof-green">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/George_Schneider-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">George Schneider</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-psp ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-jim-sheehan">
            <div class="chof-panel chof-panel-sized chof-blue">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Jim_Sheehan-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Jim Sheehan</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-ned-m-barnes">
            <div class="chof-panel chof-panel-sized chof-red">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Ned_M_Barnes-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Ned M. Barnes</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-sister-peter-claver">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Sister_Peter_Claver-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Sister Peter Claver</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-kirtland-cutter">
            <div class="chof-panel chof-panel-sized chof-gray">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Kirtland_Cutter-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Kirtland Cutter</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
  
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2017 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-aubrey-lee-white">
            <div class="chof-panel chof-panel-sized chof-yellow">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Aubrey_Lee_White-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Aubrey Lee White</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>
