
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-dr-george-bagby">
            <div class="chof-panel chof-panel-sized chof-blue">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Dr._George_Bagby-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Dr. George Bagby, 1923-2017</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-sonora-louise-smart-dodd">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Sonora_Louise_Smart_Dodd-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Sonora Louise Smart Dodd, 1882-1978</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-akhoy-kumar-mozumdar">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Akhoy_Kumar_Mozumdar-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Akhoy Kumar Mozumdar, 1864-1953</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-myrtle-woldson">
            <div class="chof-panel chof-panel-sized chof-red">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Myrtle_Woldson-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Myrtle Woldson, 1910-2014</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-aal ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-ken-spiering">
            <div class="chof-panel chof-panel-sized chof-blue">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Ken_Spiering-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Ken Spiering</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-edb ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-tom-simpson">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Tom_Simpson-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Tom Simpson</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-edu ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-father-bernard-coughlin">
            <div class="chof-panel chof-panel-sized chof-yellow">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Father_Bernard_Coughlin-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Father Bernard Coughlin, S.J.</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-ial ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-ted-s-mcgregor">
            <div class="chof-panel chof-panel-sized chof-blue">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Ted_S._McGregor-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Ted S. McGregor, Jr.</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-psp ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-lois-j-stratton">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Lois_J._Stratton-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Lois J. Stratton</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-shm ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-deb-harper">
            <div class="chof-panel chof-panel-sized chof-blue">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Deb_Harper-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Deb Harper</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-shm ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-katherine-tuttle">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Katherine_Tuttle-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Katherine Tuttle</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2018 chof-tile-category-cia ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-dave-and-mari-clack">
            <div class="chof-panel chof-panel-sized chof-gray">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Dave_and_Mari_Clack-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Dave and Mari Clack</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>

