
    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-ruth-sampson-ayers">
            <div class="chof-panel chof-panel-sized chof-yellow">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Ruth_Sampson_Ayers_(1898-1991)-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Ruth Sampson Ayers (1898-1991)</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-eric-a-johnston">
            <div class="chof-panel chof-panel-sized chof-red">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Eric_A._Johnston_(1895-1963)-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Eric A. Johnston (1895-1963)</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-dr-john-moyer">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Dr._John_Moyer_(1922-2014)-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Dr. John Moyer (1922-2014)</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-his ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-ed-tsutakawa">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Ed_Tsutakawa_(1921-2006)-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Ed Tsutakawa (1921-2006)</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-aal ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-karen-mobley">
            <div class="chof-panel chof-panel-sized chof-red">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Karen_Mobley-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Karen Mobley</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-edb ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-jeff-philipps">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Jeff_Philipps-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Jeff Philipps</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-edu ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-deborah-k.-johnson">
            <div class="chof-panel chof-panel-sized chof-red">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Deborah_K._Johnson-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Deborah K. Johnson</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-ial ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-toni-lodge">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Toni_Lodge-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Toni Lodge</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-psp ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-sister-madonna-buder">
            <div class="chof-panel chof-panel-sized chof-orange">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Sister_Madonna_Buder-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Sister Madonna Buder</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-shm ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-dr-hrair-garabedian">
            <div class="chof-panel chof-panel-sized chof-blue">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Dr._Hrair_Garabedian-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Dr. Hrair Garabedian</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>


    <!-- TILE -->
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 chof-tile-inductee chof-tile-year-2019 chof-tile-category-cia ">
        <a href="#" data-toggle="modal" data-target="#chof-modal-jerrelene-williamson">
            <div class="chof-panel chof-panel-sized chof-brown">
                <div class="panel-body">
                    <img class="img-responsive" src="/assets/img/promos/chof/Jerrelene_Williamson-sm.jpg">
                    <div class="chof-text-wrapper">         
                        <div class="chof-text-mask">
                            <h6 class="chof-title">Jerrelene Williamson</h6>
                        </div>
                    </div>
                </div>
                <div class="chof-glyph">
                    <small class="glyphicon glyphicon-share-alt"></small>
                </div>
            </div>
        </a>
    </div>

